In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("../database/DevelopmentAid.csv", delimiter=',', encoding = "ISO-8859-1", skiprows=1)
data

,Region/Country/Area,Unnamed: 1,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",1985,Net official development assistance received: ...,"25,604",Including regional aid disbursements in additi...,Organisation for Economic Co-operation and Dev...
1,1,"Total, all countries or areas",1995,Net official development assistance received: ...,"46,875",Including regional aid disbursements in additi...,Organisation for Economic Co-operation and Dev...
2,1,"Total, all countries or areas",2005,Net official development assistance received: ...,"81,833",Including regional aid disbursements in additi...,Organisation for Economic Co-operation and Dev...
3,1,"Total, all countries or areas",2010,Net official development assistance received: ...,"92,131",Including regional aid disbursements in additi...,Organisation for Economic Co-operation and Dev...
4,1,"Total, all countries or areas",2015,Net official development assistance received: ...,"111,378",Including regional aid disbursements in additi...,Organisation for Economic Co-operation and Dev...
...,...,...,...,...,...,...,...
5106,722,SIDS,2010,Net official development assistance received: ...,3.0,NaN,Organisation for Economic Co-operation and Dev...
5107,722,SIDS,2015,Net official development assistance received: ...,1.7,NaN,Organisation for Economic Co-operation and Dev...
5108,722,SIDS,2019,Net official development assistance received: ...,2.2,NaN,Organisation for Economic Co-operation and Dev...
5109,722,SIDS,2020,Net official development assistance received: ...,3.7,NaN,Organisation for Economic Co-operation and Dev...
5110,722,SIDS,2021,Net official development assistance received: ...,3.2,NaN,Organisation for Economic Co-operation and Dev...

In [4]:
data = data.drop(columns=["Footnotes"])
data

,Region/Country/Area,Unnamed: 1,Year,Series,Value,Source
0,1,"Total, all countries or areas",1985,Net official development assistance received: ...,"25,604",Organisation for Economic Co-operation and Dev...
1,1,"Total, all countries or areas",1995,Net official development assistance received: ...,"46,875",Organisation for Economic Co-operation and Dev...
2,1,"Total, all countries or areas",2005,Net official development assistance received: ...,"81,833",Organisation for Economic Co-operation and Dev...
3,1,"Total, all countries or areas",2010,Net official development assistance received: ...,"92,131",Organisation for Economic Co-operation and Dev...
4,1,"Total, all countries or areas",2015,Net official development assistance received: ...,"111,378",Organisation for Economic Co-operation and Dev...
...,...,...,...,...,...,...
5106,722,SIDS,2010,Net official development assistance received: ...,3.0,Organisation for Economic Co-operation and Dev...
5107,722,SIDS,2015,Net official development assistance received: ...,1.7,Organisation for Economic Co-operation and Dev...
5108,722,SIDS,2019,Net official development assistance received: ...,2.2,Organisation for Economic Co-operation and Dev...
5109,722,SIDS,2020,Net official development assistance received: ...,3.7,Organisation for Economic Co-operation and Dev...
5110,722,SIDS,2021,Net official development assistance received: ...,3.2,Organisation for Economic Co-operation and Dev...

In [5]:
data.dtypes

Region/Country/Area     int64
Unnamed: 1             object
Year                    int64
Series                 object
Value                  object
Source                 object
dtype: object

In [6]:
data["Value"] = data.Value.replace({',': ''}, regex=True).astype(float)
data

,Region/Country/Area,Unnamed: 1,Year,Series,Value,Source
0,1,"Total, all countries or areas",1985,Net official development assistance received: ...,25604.0,Organisation for Economic Co-operation and Dev...
1,1,"Total, all countries or areas",1995,Net official development assistance received: ...,46875.0,Organisation for Economic Co-operation and Dev...
2,1,"Total, all countries or areas",2005,Net official development assistance received: ...,81833.0,Organisation for Economic Co-operation and Dev...
3,1,"Total, all countries or areas",2010,Net official development assistance received: ...,92131.0,Organisation for Economic Co-operation and Dev...
4,1,"Total, all countries or areas",2015,Net official development assistance received: ...,111378.0,Organisation for Economic Co-operation and Dev...
...,...,...,...,...,...,...
5106,722,SIDS,2010,Net official development assistance received: ...,3.0,Organisation for Economic Co-operation and Dev...
5107,722,SIDS,2015,Net official development assistance received: ...,1.7,Organisation for Economic Co-operation and Dev...
5108,722,SIDS,2019,Net official development assistance received: ...,2.2,Organisation for Economic Co-operation and Dev...
5109,722,SIDS,2020,Net official development assistance received: ...,3.7,Organisation for Economic Co-operation and Dev...
5110,722,SIDS,2021,Net official development assistance received: ...,3.2,Organisation for Economic Co-operation and Dev...

In [7]:
data = data.rename(columns={"Region/Country/Area": "Area code", "Unnamed: 1": "Area"})
data

,Area code,Area,Year,Series,Value,Source
0,1,"Total, all countries or areas",1985,Net official development assistance received: ...,25604.0,Organisation for Economic Co-operation and Dev...
1,1,"Total, all countries or areas",1995,Net official development assistance received: ...,46875.0,Organisation for Economic Co-operation and Dev...
2,1,"Total, all countries or areas",2005,Net official development assistance received: ...,81833.0,Organisation for Economic Co-operation and Dev...
3,1,"Total, all countries or areas",2010,Net official development assistance received: ...,92131.0,Organisation for Economic Co-operation and Dev...
4,1,"Total, all countries or areas",2015,Net official development assistance received: ...,111378.0,Organisation for Economic Co-operation and Dev...
...,...,...,...,...,...,...
5106,722,SIDS,2010,Net official development assistance received: ...,3.0,Organisation for Economic Co-operation and Dev...
5107,722,SIDS,2015,Net official development assistance received: ...,1.7,Organisation for Economic Co-operation and Dev...
5108,722,SIDS,2019,Net official development assistance received: ...,2.2,Organisation for Economic Co-operation and Dev...
5109,722,SIDS,2020,Net official development assistance received: ...,3.7,Organisation for Economic Co-operation and Dev...
5110,722,SIDS,2021,Net official development assistance received: ...,3.2,Organisation for Economic Co-operation and Dev...

In [8]:
data.to_csv("../database/fixed/DevelopmentAid.csv", index=False)