In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../database/ImportsExports.csv", delimiter=',', encoding = "ISO-8859-1", skiprows=1)
data

,Region/Country/Area,Unnamed: 1,Year,Series,System of trade,System of trade footnote,Value,Footnotes,Source
0,1,"Total, all countries or areas",1995,Imports CIF (millions of US dollars),NaN,NaN,"5,099,057",NaN,"United Nations Statistics Division, New York, ..."
1,1,"Total, all countries or areas",2005,Imports CIF (millions of US dollars),NaN,NaN,"10,577,013",NaN,"United Nations Statistics Division, New York, ..."
2,1,"Total, all countries or areas",2010,Imports CIF (millions of US dollars),NaN,NaN,"15,275,115",NaN,"United Nations Statistics Division, New York, ..."
3,1,"Total, all countries or areas",2015,Imports CIF (millions of US dollars),NaN,NaN,"16,482,346",NaN,"United Nations Statistics Division, New York, ..."
4,1,"Total, all countries or areas",2020,Imports CIF (millions of US dollars),NaN,NaN,"17,598,001",NaN,"United Nations Statistics Division, New York, ..."
...,...,...,...,...,...,...,...,...,...
5048,716,Zimbabwe,2010,Balance imports/exports (millions of US dollars),G,NaN,"-2,653",NaN,"United Nations Statistics Division, New York, ..."
5049,716,Zimbabwe,2015,Balance imports/exports (millions of US dollars),G,NaN,"-2,642",NaN,"United Nations Statistics Division, New York, ..."
5050,716,Zimbabwe,2020,Balance imports/exports (millions of US dollars),G,NaN,-653,NaN,"United Nations Statistics Division, New York, ..."
5051,716,Zimbabwe,2021,Balance imports/exports (millions of US dollars),G,NaN,"-1,541",NaN,"United Nations Statistics Division, New York, ..."
5052,716,Zimbabwe,2022,Balance imports/exports (millions of US dollars),G,NaN,"-2,124",Estimate.,"United Nations Statistics Division, New York, ..."

In [3]:
data["System of trade"].unique()

array([nan, 'G', 'S'], dtype=object)

In [4]:
data = data.drop(columns=["Footnotes", "System of trade footnote"])
data

,Region/Country/Area,Unnamed: 1,Year,Series,System of trade,Value,Source
0,1,"Total, all countries or areas",1995,Imports CIF (millions of US dollars),NaN,"5,099,057","United Nations Statistics Division, New York, ..."
1,1,"Total, all countries or areas",2005,Imports CIF (millions of US dollars),NaN,"10,577,013","United Nations Statistics Division, New York, ..."
2,1,"Total, all countries or areas",2010,Imports CIF (millions of US dollars),NaN,"15,275,115","United Nations Statistics Division, New York, ..."
3,1,"Total, all countries or areas",2015,Imports CIF (millions of US dollars),NaN,"16,482,346","United Nations Statistics Division, New York, ..."
4,1,"Total, all countries or areas",2020,Imports CIF (millions of US dollars),NaN,"17,598,001","United Nations Statistics Division, New York, ..."
...,...,...,...,...,...,...,...
5048,716,Zimbabwe,2010,Balance imports/exports (millions of US dollars),G,"-2,653","United Nations Statistics Division, New York, ..."
5049,716,Zimbabwe,2015,Balance imports/exports (millions of US dollars),G,"-2,642","United Nations Statistics Division, New York, ..."
5050,716,Zimbabwe,2020,Balance imports/exports (millions of US dollars),G,-653,"United Nations Statistics Division, New York, ..."
5051,716,Zimbabwe,2021,Balance imports/exports (millions of US dollars),G,"-1,541","United Nations Statistics Division, New York, ..."
5052,716,Zimbabwe,2022,Balance imports/exports (millions of US dollars),G,"-2,124","United Nations Statistics Division, New York, ..."

In [5]:
data.dtypes

Region/Country/Area     int64
Unnamed: 1             object
Year                    int64
Series                 object
System of trade        object
Value                  object
Source                 object
dtype: object

In [6]:
data["Value"] = data.Value.replace({',': ''}, regex=True).astype(int)
data

,Region/Country/Area,Unnamed: 1,Year,Series,System of trade,Value,Source
0,1,"Total, all countries or areas",1995,Imports CIF (millions of US dollars),NaN,5099057,"United Nations Statistics Division, New York, ..."
1,1,"Total, all countries or areas",2005,Imports CIF (millions of US dollars),NaN,10577013,"United Nations Statistics Division, New York, ..."
2,1,"Total, all countries or areas",2010,Imports CIF (millions of US dollars),NaN,15275115,"United Nations Statistics Division, New York, ..."
3,1,"Total, all countries or areas",2015,Imports CIF (millions of US dollars),NaN,16482346,"United Nations Statistics Division, New York, ..."
4,1,"Total, all countries or areas",2020,Imports CIF (millions of US dollars),NaN,17598001,"United Nations Statistics Division, New York, ..."
...,...,...,...,...,...,...,...
5048,716,Zimbabwe,2010,Balance imports/exports (millions of US dollars),G,-2653,"United Nations Statistics Division, New York, ..."
5049,716,Zimbabwe,2015,Balance imports/exports (millions of US dollars),G,-2642,"United Nations Statistics Division, New York, ..."
5050,716,Zimbabwe,2020,Balance imports/exports (millions of US dollars),G,-653,"United Nations Statistics Division, New York, ..."
5051,716,Zimbabwe,2021,Balance imports/exports (millions of US dollars),G,-1541,"United Nations Statistics Division, New York, ..."
5052,716,Zimbabwe,2022,Balance imports/exports (millions of US dollars),G,-2124,"United Nations Statistics Division, New York, ..."

In [7]:
data = data.rename(columns={"Region/Country/Area": "Area code", "Unnamed: 1": "Area"})
data

,Area code,Area,Year,Series,System of trade,Value,Source
0,1,"Total, all countries or areas",1995,Imports CIF (millions of US dollars),NaN,5099057,"United Nations Statistics Division, New York, ..."
1,1,"Total, all countries or areas",2005,Imports CIF (millions of US dollars),NaN,10577013,"United Nations Statistics Division, New York, ..."
2,1,"Total, all countries or areas",2010,Imports CIF (millions of US dollars),NaN,15275115,"United Nations Statistics Division, New York, ..."
3,1,"Total, all countries or areas",2015,Imports CIF (millions of US dollars),NaN,16482346,"United Nations Statistics Division, New York, ..."
4,1,"Total, all countries or areas",2020,Imports CIF (millions of US dollars),NaN,17598001,"United Nations Statistics Division, New York, ..."
...,...,...,...,...,...,...,...
5048,716,Zimbabwe,2010,Balance imports/exports (millions of US dollars),G,-2653,"United Nations Statistics Division, New York, ..."
5049,716,Zimbabwe,2015,Balance imports/exports (millions of US dollars),G,-2642,"United Nations Statistics Division, New York, ..."
5050,716,Zimbabwe,2020,Balance imports/exports (millions of US dollars),G,-653,"United Nations Statistics Division, New York, ..."
5051,716,Zimbabwe,2021,Balance imports/exports (millions of US dollars),G,-1541,"United Nations Statistics Division, New York, ..."
5052,716,Zimbabwe,2022,Balance imports/exports (millions of US dollars),G,-2124,"United Nations Statistics Division, New York, ..."

In [8]:
data.to_csv("../database/fixed/ImportsExports.csv", index=False)