In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../database/ThreatenedSpecies.csv", delimiter=',', encoding = "ISO-8859-1", skiprows=1)
data

,Region/Country/Area,Unnamed: 1,Year,Series,Value,Footnotes,Source
0,4,Afghanistan,2004,Threatened Species: Vertebrates (number),31,NaN,"World Conservation Union (IUCN), Gland and Cam..."
1,4,Afghanistan,2010,Threatened Species: Vertebrates (number),31,NaN,"World Conservation Union (IUCN), Gland and Cam..."
2,4,Afghanistan,2015,Threatened Species: Vertebrates (number),31,NaN,"World Conservation Union (IUCN), Gland and Cam..."
3,4,Afghanistan,2019,Threatened Species: Vertebrates (number),33,NaN,"World Conservation Union (IUCN), Gland and Cam..."
4,4,Afghanistan,2020,Threatened Species: Vertebrates (number),33,NaN,"World Conservation Union (IUCN), Gland and Cam..."
...,...,...,...,...,...,...,...
6916,716,Zimbabwe,2015,Threatened Species: Total (number),60,NaN,"World Conservation Union (IUCN), Gland and Cam..."
6917,716,Zimbabwe,2019,Threatened Species: Total (number),103,NaN,"World Conservation Union (IUCN), Gland and Cam..."
6918,716,Zimbabwe,2020,Threatened Species: Total (number),122,NaN,"World Conservation Union (IUCN), Gland and Cam..."
6919,716,Zimbabwe,2021,Threatened Species: Total (number),124,NaN,"World Conservation Union (IUCN), Gland and Cam..."
6920,716,Zimbabwe,2022,Threatened Species: Total (number),136,NaN,"World Conservation Union (IUCN), Gland and Cam..."

In [3]:
data = data.drop(columns=["Footnotes"])
data

,Region/Country/Area,Unnamed: 1,Year,Series,Value,Source
0,4,Afghanistan,2004,Threatened Species: Vertebrates (number),31,"World Conservation Union (IUCN), Gland and Cam..."
1,4,Afghanistan,2010,Threatened Species: Vertebrates (number),31,"World Conservation Union (IUCN), Gland and Cam..."
2,4,Afghanistan,2015,Threatened Species: Vertebrates (number),31,"World Conservation Union (IUCN), Gland and Cam..."
3,4,Afghanistan,2019,Threatened Species: Vertebrates (number),33,"World Conservation Union (IUCN), Gland and Cam..."
4,4,Afghanistan,2020,Threatened Species: Vertebrates (number),33,"World Conservation Union (IUCN), Gland and Cam..."
...,...,...,...,...,...,...
6916,716,Zimbabwe,2015,Threatened Species: Total (number),60,"World Conservation Union (IUCN), Gland and Cam..."
6917,716,Zimbabwe,2019,Threatened Species: Total (number),103,"World Conservation Union (IUCN), Gland and Cam..."
6918,716,Zimbabwe,2020,Threatened Species: Total (number),122,"World Conservation Union (IUCN), Gland and Cam..."
6919,716,Zimbabwe,2021,Threatened Species: Total (number),124,"World Conservation Union (IUCN), Gland and Cam..."
6920,716,Zimbabwe,2022,Threatened Species: Total (number),136,"World Conservation Union (IUCN), Gland and Cam..."

In [4]:
data.dtypes

Region/Country/Area     int64
Unnamed: 1             object
Year                    int64
Series                 object
Value                  object
Source                 object
dtype: object

In [6]:
data["Value"] = data.Value.replace({',': ''}, regex=True).astype(int)
data

,Region/Country/Area,Unnamed: 1,Year,Series,Value,Source
0,4,Afghanistan,2004,Threatened Species: Vertebrates (number),31,"World Conservation Union (IUCN), Gland and Cam..."
1,4,Afghanistan,2010,Threatened Species: Vertebrates (number),31,"World Conservation Union (IUCN), Gland and Cam..."
2,4,Afghanistan,2015,Threatened Species: Vertebrates (number),31,"World Conservation Union (IUCN), Gland and Cam..."
3,4,Afghanistan,2019,Threatened Species: Vertebrates (number),33,"World Conservation Union (IUCN), Gland and Cam..."
4,4,Afghanistan,2020,Threatened Species: Vertebrates (number),33,"World Conservation Union (IUCN), Gland and Cam..."
...,...,...,...,...,...,...
6916,716,Zimbabwe,2015,Threatened Species: Total (number),60,"World Conservation Union (IUCN), Gland and Cam..."
6917,716,Zimbabwe,2019,Threatened Species: Total (number),103,"World Conservation Union (IUCN), Gland and Cam..."
6918,716,Zimbabwe,2020,Threatened Species: Total (number),122,"World Conservation Union (IUCN), Gland and Cam..."
6919,716,Zimbabwe,2021,Threatened Species: Total (number),124,"World Conservation Union (IUCN), Gland and Cam..."
6920,716,Zimbabwe,2022,Threatened Species: Total (number),136,"World Conservation Union (IUCN), Gland and Cam..."

In [7]:
data = data.rename(columns={"Region/Country/Area": "Area code", "Unnamed: 1": "Area"})
data

,Area code,Area,Year,Series,Value,Source
0,4,Afghanistan,2004,Threatened Species: Vertebrates (number),31,"World Conservation Union (IUCN), Gland and Cam..."
1,4,Afghanistan,2010,Threatened Species: Vertebrates (number),31,"World Conservation Union (IUCN), Gland and Cam..."
2,4,Afghanistan,2015,Threatened Species: Vertebrates (number),31,"World Conservation Union (IUCN), Gland and Cam..."
3,4,Afghanistan,2019,Threatened Species: Vertebrates (number),33,"World Conservation Union (IUCN), Gland and Cam..."
4,4,Afghanistan,2020,Threatened Species: Vertebrates (number),33,"World Conservation Union (IUCN), Gland and Cam..."
...,...,...,...,...,...,...
6916,716,Zimbabwe,2015,Threatened Species: Total (number),60,"World Conservation Union (IUCN), Gland and Cam..."
6917,716,Zimbabwe,2019,Threatened Species: Total (number),103,"World Conservation Union (IUCN), Gland and Cam..."
6918,716,Zimbabwe,2020,Threatened Species: Total (number),122,"World Conservation Union (IUCN), Gland and Cam..."
6919,716,Zimbabwe,2021,Threatened Species: Total (number),124,"World Conservation Union (IUCN), Gland and Cam..."
6920,716,Zimbabwe,2022,Threatened Species: Total (number),136,"World Conservation Union (IUCN), Gland and Cam..."

In [8]:
data.to_csv("../database/fixed/ThreatenedSpecies.csv", index=False)